* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

.landing-page {
    background: linear-gradient(0deg, rgba(255, 99, 71, 0.35), rgba(255, 99, 71, 0.35)), url(assets/images/header.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-weight: 700;
    margin-top: 22px;
    margin-left: 18px;
    margin-bottom: 20px;
    color: #ffff;
    font-size: 30px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu a {
    margin: 0 40px;
    text-decoration: none;
    color: #ffff;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    transition: all 1s ease;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: #ff6347;
}

.menu-holder {
    display: none;
    height: auto;
    width: 100%;
    background: #ff6347;
    color: #ffff;
    position: absolute;
}

.menu-list h2 {
    font-weight: 700;
    padding: 20px;
    color: #ffff;
    font-size: 30px;
}

.menu-bar {
    display: none;
}

.menu-holder .menu-bar a {
    text-decoration: none;
    color: #ffff;
    font-weight: 700;
    font-size: 25px;
    padding: 15px 20px;
    display: block;
    transition: all 0.35s ease;
}

.menu-holder .menu-bar a:hover {
    background: #ffff;
    color: #ff6347;
}

.menu-list .icon {
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 32px;
    color: #ffff;
    transition: all 0.35s ease;
}

.menu-list .icon:hover {
    background: #ffff;
    height: 40px;
    width: 40px;
    padding: 3px;
    color: #ff6347;
    border-radius: 5px;
    text-align: center;
}

.space-left {
    width: 50%;
}

.landingpage-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 60px 0 0;
}

.explore h2 {
    color: #ffff;
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 15px;
}

.explore p {
    color: #ffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
}

.explore button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background: #ff6347;
    transition: all 0.5s ease-in-out;
    margin: 20px 0;
}

.explore button:hover {
    padding: 10px 20px;
}

.explore button a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: #ffff;
}

/* hero section */

.hero {
    height: auto;
    width: 100%;
    background: #ffff;
}

.available-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px 30px;
}

.first-projects {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.second-projects {
    display: flex;
    justify-content: space-around;
}

.first-project-content, .second-project-content {
    width: 350px;
    height: 250px;
    background: #ff6347;
    color: #ffff;
    border-radius: 20px;
    text-align: left;
    padding: 15px 30px 30px 30px;
}

.first-project-content h2, .second-project-content h2 {
    font-weight: 700;
    font-size: 37px;
    margin-bottom: 12px;
}

.first-project-content p, .second-project-content p {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.first-project-content button, .footer-first-section button {
    background: #ffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.first-project-content button:hover, .footer-first-section button:hover {
    background: rgba(255, 255, 255, 0.699);
    padding: 10px 25px;
}

.first-project-content button a, .footer-first-section button a {
    text-decoration: none;
    color: #ff6347;
    font-size: 18px;
    font-weight: 700;
}

.footer-first-section {
    width: 100%;
    height: auto;
    background: #ff6347;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-first-section h2 {
    font-weight: 700;
    margin-left: 18px;
    color: #ffff;
    font-size: 30px;
}

.footer-second-section {
    display: flex;
    justify-content: space-between;
    background: #000000;
    width: 100%;
    height: auto;
    padding: 20px 100px;
    color: #ffff;
    font-size: 20px;
    font-family: 700;
    line-height: 20px;
}

.footer-icons a {
    color: #ffff;
}

/* media querry */

@media  screen and (max-width:900px) {
    .header {
        display: none;
    }

    .menu-holder {
        display: block;
    }

    .landingpage-content {
        flex-direction: column;
        padding-top: 150px;
        padding-bottom: 80px;
        margin: 0 20px;
    }

    .explore h2 {
        font-size: 30px;
    }

    .explore p {
        font-size: 18px;
    }

    .available-projects {
        margin: 50px 30px;
    }

    .first-projects, .second-projects {
        flex-direction: column;
        align-items: center;
    }

    .first-project-content, .second-project-content {
        margin-bottom: 20px;
    }

    .first-project-content:last-child {
        margin-bottom: 0; 
    }

    .footer-first-section {
        padding: 30px 10px;
    }

    .footer-second-section {
        flex-direction: column;
    }

    .footer-first-section p {
        font-size: 10px;
    }

    .footer-icons {
        margin: 15px 0;
    }

    .footer-icons a {
        margin: 5px;
    }
}